.sidebar{
    background-color: rgb(78, 77, 77);
    color: rgb(245, 243, 240);
}
.sidenav li a{
    background-color: rgb(100, 98, 98);
    margin-bottom: 3px;
    color: white;
}
.sidenav li a span, .bi-circle{
    color: rgb(238, 231, 231);
}