.delbtn{
    background-color: rgb(184, 30, 30);
    color: white;
    font-weight: 500;
    font-size: 12px;
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
}
.delbtn span{
    margin-left: 5px;
}
th{
  background-color: rgb(76, 76, 114) !important;
  margin-top: 10px !important;
}

.addcard{
    background-color: rgb(71, 71, 71);
    color: white;
}
.card-title{
    color: white;
}
.btn-primary{
    background-color: rgb(55, 150, 67);
    border: solid green 1px;
}
.subcount{
    padding: 2px 8px 2px 8px;
    border-radius: 50%;
    background-color: white;
    color: rgb(207, 76, 53);
    font-weight: bold;
    margin-left: 5px;
}
select{
    font-style: italic;
}
.addbtn{
    display: flex;
    justify-content: center;
}