.mycontainer{
    padding: 15px;

}
.pagetitle{
    text-align: center;
    font-size: 5vh;
    font-weight: bold;
    padding-top: 10px;
    
}
.pagedescription{
    font-size: 3vh;
    text-align: center;
}

.imgbox{
    max-width: 220px;
    max-height: 220px;
    position: relative;
    overflow: hidden;
}
.textbox{
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}
.imgbox img{
    width: 100%;
}
.bigcard{
    padding: 25px;
}
.prodcard{
    border: 4px rgb(71, 86, 134) solid;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.status{
    background-color: rgb(167, 108, 32);
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 8px 4px 8px;
    border-radius: 3px;
    width: fit-content;
    position: absolute;
    bottom: 0;
    right: 0;
}
.mytitle{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    background-color: rgb(71, 86, 134) ;
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
    color: white;
}

.bluebox{
    margin-bottom: 15px;
}

.cartbtn{
    color: white;
    background-color: rgb(96, 110, 170);
    padding: 5px 16px 5px 16px;
    border-radius: 4px;
    margin: 10px;
    margin-top: 0;
}
.description{
    text-align: center;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(83, 82, 82);
    font-weight: 600;
}
.price{
    font-size: 3vh;
    font-weight: 700;

}
.pricebox{
    display: flex;
    justify-content: space-around;
}
.toppick{
    background-color: rgb(27, 136, 27);
}
.sectiontitle{
    text-align: center;
    background-color: rgb(62, 62, 112);
    color: white;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    margin-top: 8px;
}
.sidetext{
    font-weight: 600;
}
.discount{
    font-size:11px;
    background-color: red;
    color: white;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
}